@import url("https://fonts.googleapis.com/css2?family=Nova+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap");

#wall {
    -fx-fill: #93aa94, linear-gradient(#4e9a22, #567b5a)
}

.render-window {
    -fx-background-color: radial-gradient(#182c3d, #00182a);
    -fx-fill: radial-gradient(#182c3d, #00182a)
}

.plane {
    -fx-fill: linear-gradient(#93aa94, #567b5a)
}

.internal-window {
    -fx-border-color: radial-gradient(#182c3d, #2b2b2b);
    -fx-border-width: 0%;
    -fx-padding: 10px
}

.window-0 {
    -fx-background-color: #182c3d linear-gradient(#00182a, #182c3d);
    -fx-border-width: 0%
}

.label {
    -fx-font-family: 'Oxygen', sans-serif;
    -fx-font-size: 12pt;
    -fx-text-fill: #93aa94 linear-gradient(#93aa94, #567b5a);
    -fx-padding: 1, 1, 0, 1
}

.button {
    -fx-cursor: hand;
    -fx-border-radius: 0%;
    -fx-border-width: 0%;
    -fx-background-color: #93aa94, linear-gradient(#93aa94, #588e70);
    -fx-text-fill: #c14d4d;
    -fx-font-size: 12pt
}

.button:hover {
    -fx-text-fill: white;
    -fx-background-color: #c14d4d, linear-gradient(#ff7b7b 30%, #c14d4d 60%);
    -fx-fill: #ff7b7b
}

.AssetBrowser {
    -fx-border-color: #393939;
    -fx-background-color: #182c3d, linear-gradient(#182c3d, #00182a, #182c3d)
}

.assetbrowser {
    -fx-border-color: linear-gradient(#ff7b7b, #fa000e)
}

.gridpane {
    -fx-background-color: #182c3d, linear-gradient(#182c3d, #00182a, #182c3d);
    -fx-border-color: #2b2b2b;
    -fx-border-width: 100%
}

.assetslider {
    -fx-cursor: ne_resize;
    -fx-tick-label-fill: #fa000e, linear-gradient(#ff7b7b, #c14d4d)
}

.assetslider:hover {
    -fx-border-width: 3px;
    -fx-border-color: linear-gradient(#ff7b7b, #c14d4d)
}

.parameter-window {
    -fx-background-color: #93aa94;
    -fx-fill: #000c2b
}

.circle {
    -fx-effect: #aa93a9
}

.internal-window-titlebar {
    -fx-font-size: 16pt
}

.text-area {
    -fx-font-family: 'Poppins', sans-serif;
    -fx-fill: #93aa94 linear-gradient(#93aa94, #588e70, #4e9a22);
    -fx-text-fill: #fa000e;
    -fx-control-inner-background: #93aa94
}
